name: Build/Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:

    - name: Setup python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64

    - name: Clone repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install numpy scipy coverage
        pip install .

    - name: Test
      run: |
        cd tests
        for f in `ls *py`
        do
          coverage run -p --source ampyl $f
        done

    - name: Coverage report
      run: |
        cd tests
        coverage combine
        coverage report -m  # Print coverage report to screen
        coverage xml  # Export coverage report as XML file, for codecov.i

    - name: Upload coverage to Codecov
      if: ${{ (matrix.python-version == 3.8) && (github.event_name == 'push') }}
      env:
        PYTHON_VERSION: python${{ matrix.python-version }}
        CODECOV_TOKEN: "fff52416-cbeb-4926-b062-04e528abb51c"
        CODECOV_ENV: PYTHON_VERSION, CODECOV_TOKEN
      run: |
        cd tests
        bash <(curl -s https://codecov.io/bash) -f ./coverage.xml
